.content-container {
    width: 100%;
    max-width: 1145px;
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    margin-bottom: 28px;
    width: 100%;
}

.header__info {
    width: 100%;
    background-color: #EBEDEE;
}

.header__info-items {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
}

.header__info-item {
    padding: 0;
    margin: 0 0 0 52px;
}

.header__info-item:first-of-type {
    margin: 0;
}

.header__info-link {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #404040;
}

.header__info-link:hover {
    color: #404040;
    text-decoration: none;
    opacity: 0.5;
}

.header__info-phones {
    list-style-type: none;
    margin: 0;
    padding: 8px 17px 8px 0;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #404040;
}

.header__info-phone {
    padding: 0;
    margin: 0 36px 0 0;
}

.header__info-phone:last-of-type {
    margin: 0;
}

.header__logo {
    margin: 0;
    padding: 4px 0 16px;
}

@media screen and (min-width: 1145px) {
    .header__logo {
        margin: 0 215px 0 0;
    }
}

.header__search {
    display: none;
}

@media screen and (min-width: 576px) {
    .header__search {
        display: block;
        width: calc(100% - 328px);
        padding: 27px 0 20px 0;
        margin: 0;
    }
}

@media screen and (min-width: 870px) {
    .header__search {
        width: 520px;
    }
}

.header__search-slogan {
    margin: 0 0 13px 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #404040;
    display: none;
}

@media screen and (min-width: 870px) {
    .header__search-slogan {
        display: block;
    }
}

.header__search-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E1CEBE;
    box-sizing: border-box;
    border-radius: 3px;
}

.header__search-input {
    display: block;
    border: none;
    outline: none;
    padding-left: 20px;
    width: calc(100% - 50px);
}

.header__search-input::-webkit-input-placeholder {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E1CEBE;
}

.header__search-input:-moz-placeholder {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E1CEBE;
}

.header__search-button {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
}

.header__search-button:hover {
    opacity: 0.5;
}

.header__search-button:active {
    opacity: 0.5;
    border: none;
    outline: none;
}

.header__search-image {
    width: 24px;
    height: 24px;
    margin: 5px 3px 7px 0;
}

.header__cart {
    margin: 0;
    padding: 23px 17px 0 0;
}

@media screen and (min-width: 1145px) {
    .header__cart {
        margin: 0 0 0 102px;
    }
}

.header__cart-container {
    box-sizing: border-box;
    width: 134px;
    height: 78px;
    padding: 19px 21px 18px 13px;
    background-color: #EBEDEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-button {
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
}

.header__cart-button:hover {
    opacity: 0.5;
}

.header__cart-number {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding: 4px 17px 2px;
    margin: 0;
    background: #BED1E1;
    border-radius: 3px;
}

.header__nav {
    width: 100%;
    background-color: #E1CEBE;
}

.header__nav-link {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    font-style: normal;
    color: #404040;
    padding: 10px;
    margin: 10px 0;
}

.header__nav-link:hover {
    background-color: #ffffff;
    color: #404040;
    text-decoration: none;
}

.main-container {
    margin-bottom: 36px;
}

.catalog {
    background-color: #BED1E1;
    width: 260px;
    padding: 26px 7px 10px 28px;
    border-radius: 3px;
    margin: 0 25px 0 0;
    display: none;
}

@media screen and (min-width: 1145px) {
    .catalog {
        display: block;
    }
}

.catalog__title {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 0 17px 0;
}

.catalog__button_not-chevron {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    background-color: #BED1E1;
    box-sizing: border-box;
    width: 225px;
    padding: 0;
    border: none;
    outline: none;
    margin: 0 0 23px 0;
}

.catalog__button_not-chevron:active, 
.catalog__button_not-chevron:focus,
.catalog__button_not-chevron:hover {
    outline: none !important;
    color: #ffffff;
}

.catalog__button_not-chevron::-moz-focus-inner {
    border: 0 !important;
}

.catalog__button {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    background-color: #BED1E1;
    background-image: url(./images/chevron-right.svg);
    background-repeat: no-repeat;
    background-position: right top;
    box-sizing: border-box;
    width: 225px;
    padding: 0 25px 0 0;
    border: none;
    outline: none;
    margin: 0 0 23px 0;
}

.catalog__button:active, 
.catalog__button:focus,
.catalog__button:hover {
    outline: none !important;
    color: #ffffff;
    background-image: url(./images/chevron-right-white.svg);
}

.catalog__button::-moz-focus-inner {
    border: 0 !important;
}

.dropdown-menu {
    margin: 0;
    padding: 24px 13px 31px 25px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.dropdown-item {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin: 0 0 15px 0;
}

.dropdown-item:hover {
    color: #566E98;
    background-color: #ffffff;
}

.main-content {
    width: 100%;
}

@media screen and (min-width: 1145px) {
    .main-content {
        width: 830px;
    }
}

.carousel {
    margin-bottom: 33px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 70px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    width: 70px;
    background-color: #E1CEBE;
    opacity: 0.6;
}

.carousel-caption {
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
}

.carousel-text {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    background: #404040;
    opacity: 0.3;
    width: 527px;
    min-height: 37px;
    margin: 0;
    padding: 34px 69px 43px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards {
    margin-bottom: 24px;
}

.cards__title {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 0 23px 0;
}

.card-item {
    border: none;
    border-radius: 3px;
    border: 2px solid transparent;
}

.card-item:hover {
    border: 2px solid #E1CEBE;
    box-shadow: 0 0 20px rgba(225, 206, 190, 0.5);
}

.card-body-container {
    padding: 0 12px;
    background: #EBEDEE;
}

.card-item-body {
    border-bottom: 1px solid #FFFFFF;
    padding: 22px 8px;
}

.card-item-body:last-of-type {
    border: none;
}

.card-item-text {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    min-height: 42px;
}

.card-item-title {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

.card-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-goods-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
}

.card-goods-reduce {
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #ffffff;
    background-image: url(./images/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card-goods-reduce:active, 
.card-goods-reduce:focus,
.card-goods-reduce:hover {
    outline: none !important;
    opacity: 0.5;
}

.card-goods-reduce::-moz-focus-inner {
    border: 0 !important;
}

.card-goods-text {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 35px;
    padding: 0;
    margin: 0;
}

.card-goods-increase {
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #ffffff;
    background-image: url(./images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card-goods-increase:active, 
.card-goods-increase:focus,
.card-goods-increase:hover {
    outline: none !important;
    opacity: 0.5;
}

.card-goods-increase::-moz-focus-inner {
    border: 0 !important;
}

.card-goods-cart {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    width: 105px;
    height: 40px;
    background: #BED1E1;
    border: none;
    border-radius: 3px;
}

.card-goods-cart:active, 
.card-goods-cart:focus,
.card-goods-cart:hover {
    outline: none !important;
    background-color: #E1CEBE;
}

.card-goods-cart::-moz-focus-inner {
    border: 0 !important;
}

.sales-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 21px;
}

.sales-title {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0;
}

.sales-link {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #566E98;
}

.sales-link:hover {
    color: #E1CEBE;
    text-decoration: none;
}

.sales-cards {
    margin-bottom: 56px;
}

.sales-card {
    border: 2px solid transparent;
    border-radius: 1px;
}

.sales-card-time {
    display: block;
    max-width: 64px;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: #BED1E1;
    border-radius: 3px;
    padding: 7px 0;
    margin: -14px 0 9px 10px;
    position: relative;
    z-index: 1;
}

.sales-card-text {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #566E98;
    padding: 0;
    margin: 0;
}

.sales-card-text:hover {
    color: #E1CEBE;
    text-decoration: none;
}

.company-title {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 0 27px 0;
}

.company-text {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0 0 24px 0;
}

.footer {
    width: 100%;
    background-color: #BED1E1;
}

.footer-info-container {
    padding-top: 17px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 18px;
}

.footer-info {
    padding-top: 27px;
    margin: 0;
}

.footer-info-text {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0 0 0 14px;
}

.copyright-container {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
}

.copyright {
    padding: 0;
    margin: 0 15px 10px 0;
}

.feedback {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    margin: 0 0 30px 0;
}

.developer-container {
    padding-top: 10px;
}

.developer {
    margin: 0 12px 35px 0;
}

.developer-info {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.developer-image {
    padding: 0;
    margin: 0 0 35px 0;
}