.outline-red {
    outline: 1px solid red;
}

.height-100 {
    height: 100px;
}

.font-info {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
}

.font-contact {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    font-style: normal;
}

.font-slogan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

body {
    color: #404040;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

.header {
    margin-bottom: 30px;
}

.background-color-brand-grey {
    background-color: #EBEDEE;
}

.background-color-brand-beige {
    background-color: #E1CEBE;
}

.info-link:hover {
    color: #404040;
}

.form-container {
    border: 1px solid #E1CEBE;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 20px;
}

.form-input {
    outline: 0;
    padding-left: 20px;
    width: calc(100% - 50px);
}

input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #E1CEBE;
}
input:-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #E1CEBE;
}

.form-image {
    width: 24px;
    height: 24px;
    margin: 5px 7px 7px 0;
}

.form-image:hover {
    opacity: 0.5;
}

.cart {
    box-sizing: border-box;
    width: 134px;
    height: 78px;
    padding: 19px 21px 18px 13px;
    background-color: #EBEDEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-image {
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
}

.cart-image:hover {
    opacity: 0.5;
}

.cart-number {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding: 4px 17px 2px;
    margin: 0;
    background: #BED1E1;
    border-radius: 3px;
}

.nav-link {
    padding: 10px;
    margin: 10px 0;
}

.nav-link:hover {
    background-color: #ffffff;
    color: #404040;
}

.catalog {
    border-radius: 3px;
    background-color: #BED1E1;
    padding: 26px 0 11px;
}

.catalog__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 7px 25px 28px;
}

.catalog__button_not-chevron {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    background-color: #BED1E1;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    margin: 0 7px 23px 28px;
}

.catalog__button_not-chevron:active, 
.catalog__button_not-chevron:focus,
.catalog__button_not-chevron:hover {
    outline: none !important;
    color: #ffffff;
}

.catalog__button_not-chevron::-moz-focus-inner {
    border: 0 !important;
}

.catalog__button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    background-color: #BED1E1;
    background-image: url(./images/chevron-right.svg);
    background-repeat: no-repeat;
    background-position: right top;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px 0 0;
    border: none;
    outline: none;
    margin: 0 7px 23px 28px;
}

.catalog__button:active, 
.catalog__button:focus,
.catalog__button:hover {
    outline: none !important;
    color: #ffffff;
    background-image: url(./images/chevron-right-white.svg);
}

.catalog__button::-moz-focus-inner {
    border: 0 !important;
}

.dropdown-menu {
    margin: 0;
    padding: 24px 13px 31px 25px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.dropdown-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    margin: 0 0 15px 0;
}

.dropdown-item:hover {
    color: #566E98;
    background-color: #ffffff;
}

.carousel {
    margin-bottom: 31px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 70px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    width: 70px;
    background-color: #E1CEBE;
    opacity: 0.6;
}

.carousel-caption {
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
}

.carousel-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    background: #404040;
    opacity: 0.3;
    width: 527px;
    min-height: 37px;
    margin: 0;
    padding: 34px 69px 43px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards {
    margin-bottom: 22px;
}

.cards__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 0 21px 0;
}

.card {
    width: 260px;
    border: none;
    border-radius: 3px;
    border: 2px solid transparent;
}

.card:hover {
    border: 2px solid #E1CEBE;
    box-shadow: 0 0 20px rgba(225, 206, 190, 0.5);
}

.card-body-container {
    padding: 0 12px;
    background: #EBEDEE;
}

.card-body {
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 8px;
}

.card-body:last-of-type {
    border: none;
}

.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    min-height: 42px;
}

.card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.card-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-goods-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
}

.card-goods-reduce {
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #ffffff;
    background-image: url(./images/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card-goods-reduce:active, 
.card-goods-reduce:focus,
.card-goods-reduce:hover {
    outline: none !important;
    opacity: 0.5;
}

.card-goods-reduce::-moz-focus-inner {
    border: 0 !important;
}

.card-goods-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 35px;
    padding: 0;
    margin: 0;
}

.card-goods-increase {
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #ffffff;
    background-image: url(./images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card-goods-increase:active, 
.card-goods-increase:focus,
.card-goods-increase:hover {
    outline: none !important;
    opacity: 0.5;
}

.card-goods-increase::-moz-focus-inner {
    border: 0 !important;
}

.card-goods-cart {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    width: 105px;
    height: 40px;
    background: #BED1E1;
    border: none;
    border-radius: 3px;
}

.card-goods-cart:active, 
.card-goods-cart:focus,
.card-goods-cart:hover {
    outline: none !important;
    background-color: #E1CEBE;
}

.card-goods-cart::-moz-focus-inner {
    border: 0 !important;
}

.sales-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 23px;
}

.sales-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0;
}

.sales-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #566E98;
}

.sales-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 54px;
}

.sales-card {
    width: 260px;
}

.sales-card-time {
    display: block;
    max-width: 64px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    background: #BED1E1;
    border-radius: 3px;
    padding: 4px 12px;
    margin: -12px 0 9px 10px;
    position: relative;
    z-index: 1;
}

.sales-card-text {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #566E98;
    padding: 0;
    margin: 0;
}

.sales-card-text:hover {
    color: #E1CEBE;
    text-decoration: none;
}

.company {
    margin-bottom: 24px;
}

.company-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 0 0 23px 0;
}

.company-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0 0 23px 0;
}

.footer {
    outline: 1px solid red;
}

